/******************************************************************
Site Name: Reggae Podcast Theme
Author: Tim Smith

Stylesheet: Nav Header Stylesheet

******************************************************************/

.nav-home {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 999;
}
.nav-home a.logo {
  display: flex;
  align-items: center;
  padding: 0 10px !important;
  justify-content: space-around;
  font-family: "Keania One", cursive;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.7) !important;
  text-decoration: none; 
}
.nav-home .social-media-links {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-home .social-media-links .fas,
.nav-home .social-media-links i,
.nav-home .social-media-links .svg-inline--fa {
  color: rgba(0, 0, 0, 0.7);
}
.nav-home .social-media-links [class^="tooltip"] {
  cursor: pointer;
  position: relative;
}
.nav-home .social-media-links [class^="tooltip"]:after {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  content: attr(data-tooltip);
  padding: 6px 10px;
  top: 1.4em;
  left: 50%;
  transform: translateX(-50%) translateY(-2px);
  background: grey;
  color: white;
  white-space: nowrap;
  z-index: 2;
  border-radius: 2px;
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.nav-home .social-media-links [class^="tooltip"]:hover:after {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}
.nav-home .menu {
  margin-left: auto;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-home .menu .fas,
.nav-home .menu i,
.nav-home .menu .svg-inline--fa {
  color: rgba(0, 0, 0, 0.7);
}
